@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@100;200;300;400;500;600&family=Ultra&display=swap");

/* deletable comment color : #ff5959 */

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 45px;
}

p {
  font-size: 18px;
  color: #707070;
}

button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #ff5959;
  font-family: "Inter", sans-serif;
}

textarea {
  resize: none;
}

/* input::placeholder {
  color: #b3b3b3;
}

input:focus::placeholder {
  color: transparent;
} */

/* common classes for sections */
.section-common-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

/* common class for buttons */
.common-buttons {
  padding: 12px 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #ff8080, #ff3737);
}

/* common section headings */
.section-headings {
  width: 765px;
  text-align: center;
}

.section-headings > h1 {
  margin-bottom: 20px;
}

/* common class for container of boxes */
.box-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

/* top section */

#top-section {
  height: 670px;
  color: #fff;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.header-background {
  background-image: url(../images/bannerimage3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

#top-section > h1 {
  font-size: 60px;
}

#top-section > p {
  color: #fff;
}

/* amount section */

#donation-amount-section {
  width: 765px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#amounts {
  display: flex;
  gap: 20px;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 124px;
  font-size: 30px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  color: #707070;
}

.active {
  background: #ffeeee;
  border: 2px solid #ff5959;
  color: #ff5959;
}

#input-amount {
  outline: none;
  border: none;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  color: #b3b3b3;
}

/* donation usage section */

.donation-usages {
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.donation-usages > img {
  height: 60px;
}

.color-1 {
  background-color: rgba(255, 255, 0, 0.1);
}

.color-2 {
  background-color: rgba(0, 145, 255, 0.1);
}

.color-3 {
  background-color: rgba(255, 0, 255, 0.1);
}

/* blog section */

.blog {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}

.blog > img {
  width: 95%;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading > a {
  display: block;
  text-align: end;
}

.category-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-family: "Ultra", serif;
}

/* Contact Section */

#contact-us {
  display: flex;
  width: 80%;
  border-radius: 11px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.width-set {
  width: 50%;
  padding: 40px;
  height: 304.8;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#contact-details {
  color: #fff;
  background: #ff5959;
  border-radius: 10px;
}

#contact-details > p {
  color: #fff;
}

#details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#details > p, #details > p > a {
  font-size: 16px;
  color: #ebebeb;
}

#say-something {
  color: #ff5959;
}

#form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
}

.input-field {
  outline: none;
  border: 1px solid #ff5959;
  padding: 5px;
  border-radius: 5px;
  background: #fff7f7;
}

.submit-button {
  width: 100px;
  padding: 8px;
  border: none;
  outline: none;
  background: linear-gradient(to bottom right, #ff8080, #ff3737);
  color: #fff;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 5px;
}
